
/* TItulo eleganton */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
/* font-family: 'Parisienne', cursive; */

/* Century */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* QuickSand */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
/* font-family: 'Lato', sans-serif; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



:root{
    --color-prinipal: #8b3337;
    --blanco: #ffffff;
    --color-secundario: #5E1529;
    --texto: #a1978a;
    --cursiva: 'Parisienne', cursive;
    --parrafos: 'Lato', sans-serif;
    --subtitulo: 'Open Sans', sans-serif; 
}

html,
body {
  position: relative;
  height: 100%;
  
}


body{
    background-color: var(--color-prinipal);
    font-family: var(--parrafos);
}

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
    color: var(--blanco);;
}

.blanco{
    cursor: pointer;
    color: var(--blanco);
}

.line{
    height: 2px;
    background-color: var(--blanco);
    width: 100%;
    margin-bottom: 1rem;
}

/* __________________ COMIENZA SECCIÓN DE NAVBAR PARA TELÉFONO ____________________________*/


/* ===== Header ==== */
.header1 {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
    /* background-color: var(--color-secundario); */
  } 

/*=============== NAV ===============*/
.nav1 {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--blanco);
    font-weight: bold;
    
} 

.nav__toggle {
    color: var(--blanco);
    font-size: 1.2rem;
    cursor: pointer;
}

  .nav__menu {
    position: relative;
  } 

  .container1{
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

 /* === Cuando el tamaño sea menor a 767px */
 @media screen and (max-width: 746px) {
    .nav__menu {
      position: fixed;
      background-color: var(--color-secundario);
      top: 0;
      right: -100%;    
      width: 60%;
      height: 100%;
      box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
      padding: 3rem;
      transition: 0.4s;
      
    }
  }

  /* === Espaciado y dirección en navbar */
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.7rem;
  }

  .nav__link{
      text-transform: uppercase;
      color: var(--blanco);
  }



  /* Posicionamiento de la X */
  .nav__close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  } 

  /* Mostrar Menú */
  .show-menu{
    right: 0;
}

.scroll-header{
    background-color: var(--color-secundario);
}

/* ______________________ TERMINA SECCIÓN DE NAVBAR PARA TELÉFONO ________________________________________ */



/* IMAGEN PRINCIPAL */
.img__Principal{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/imgP-Opcity2.png);
    background-size: cover;
    background-repeat: no-repeat;
/*     background-position: center ; */
  /* Texto centrado */
    display: flex;
    justify-content: center;
    align-items: center;

}




.img__Secundaria{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/Burrito.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center ;
}

.container_text{
    text-align: center;
    color: var(--blanco);
    padding-left: 10px;
    padding-right: 10px;
}

.titulo_principal{
    font-family: 'Parisienne',cursive;
    font-size: 60px;
}

.descripcion_principal{
    font-family: var(--subtitulo);
    font-style: italic;
}




/* ======================== FOOTER ======================== */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:var(--blanco) !important;
    margin-top: 2rem;
}

.line-80{
    width: 85%;
    height: 2px;
    background-color: var(--blanco);
}

.img_footer{
    width: 50px;
    margin-right: 1rem;
}

.subtitle_footer{
    font-size: 2rem;
}

.flex_footer{
    display: flex;
    align-items: center;
}

.text_footer{
    width: 300px;
    font-size: 1rem;
    margin: 1rem 0;
}

.iconos{
    display: flex;
    width: 180px;
    font-size: 2rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.footer_links{
    display: flex;
    width: 300px;
    color: var(--blanco);
    justify-content: space-between;
}

.link_footer.middle{
    width: 150px;
    color: var(--blanco) !important;
    border-right: 2px solid var(--blanco);
    border-left: 2px solid var(--blanco);
}



/* ======================== MEDIA QUERY ==============================*/


@media screen and (min-width: 768px) {

    .header1{
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .ubic_content{
      margin-top: 4rem;
    }

    .container1{
        max-width: 1100px;
        margin-left: 1rem;
        margin-right: 1rem;
    }


    .nav1 {
      padding-left: 3rem;
      padding-right: 3rem;
      margin: 0;
      height: 4.5rem;
      display: flex;
      background-color: transparent;
      width: 100%;
    }
    .nav__link {
      text-transform: initial;
    }

    .nav__link:link{
        color: var(--blanco);
    }

    .nav__link:hover {
      color: var(--texto);
    }
    .nav__dark {
      position: initial;
    }
    .nav__menu {
      display: flex;
      column-gap: 1rem;
    }
    .nav__list {
      flex-direction: row;
      column-gap: 4rem;
      padding-top: 1rem;
    }
    .nav__toggle, .nav__close {
      display: none;
    }

    /* ============ TEXTO PRINCIPAL ============= */

    .titulo_principal{
        font-size: 70px;
    }

    .descripcion_principal{
        font-size: 20px;
    }

}
    /* _________TERMINA NAVBAR QUERY____________ */


/* ===============MAPA=============== */
.img-sueño{
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-image: url(../img/UnSueño.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.img-Cate{
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-image: url(../img/frase2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.texto-encima{
    text-align:center;
    font-size: 2rem;
    color: #ffffff;
    font-family:'Lato', sans-serif !important;
    font-style: italic !important;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ubic{
    margin-top: 2rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    width: 50px;
    height: auto;
}

.direccion{
    font-size: 1.1rem;
    color: #ffffff;
    margin: 0 0 6% 3rem;
    padding-right: 10%;
    font-family: 'Lato', sans-serif;
}

.mapa-responsivo{
    margin: 6rem 0% 0 0rem;
    border-radius: 10px;

    overflow:hidden;

    padding-bottom:70%;

    position:relative;
    height:0;
    filter:saturate(80%) contrast(50%) sepia(50%);
    opacity: 100%;
    
}
.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}
/* ========================¿Quienes somos? ======================== */
  /* ========================¿Quienes somos? ======================== */

  .imgQS{
    width: 300px;
    height: 450px;
    
  }

  .img_qs{
    width: 300px;
    margin: 3rem auto;
  }

  .container_qs{
    width: 100%;
    height: 1100px;
    position: relative;
    overflow: hidden;

  }

  .pincel_Pizq{
    width: 500px;
  }

  .img_container_qs{
    position: absolute;
    z-index: -1;
    width: 100%;
    bottom: 20rem;
    max-height: 300px;
    left: -80px;
  }

  /* IMG QS DERECHA */

  .imgQS_derecha{
    width: 280px;
    height: 450px;
  }

  .img_qs_Der{
    width: 280px;
    margin: 3rem auto;
  }

  .qs_derecha{
    position: absolute;
    z-index: -1;
    top: 28rem;
  }

  .derechaPincel{
    width: 500px;
  }

  /* === TEXTO DE QUIENES SOMOS === */

  .crzn_peq{
    width: 40px;
    margin-bottom: 10px;
  }

  .title_qs{
    display: flex;
    align-items: center;
  }

  .title_qs_style{
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--color-secundario);
  }

  .subtitle_qs, .info_qs{
    color: var(--texto);
    font-family: var(--parrafos) !important;
    
  }

  .subtitle_qs{
    font-family: var(--subtitulo) !important;
    font-style: italic;
  }

  /* ---------- */

  .text_content_qs{
    width: 280px;
    position: absolute;
    right: -0.5rem;
    bottom: 18rem;
  }

  .text_content_qs_abajo{
    width: 280px;
    position: absolute;
    right: 0rem;
  }

  @media screen and (min-width: 375px){
    .text_content_qs{
      width: 300px;
      position: absolute;
      right: 2rem;
      bottom: 19rem;
    }

    .text_content_qs_abajo{
      width: 280px;
      position: absolute;
      right: 2rem;
    }

  }



  @media screen and (min-width: 400px) {
    .pincel_Pizq{
      width: 580px;
      height: 530px;
    }

    .img_container_qs{
      position: absolute;
      z-index: -1;
      width: 100%;
      bottom: 21rem;
      max-height: 300px;
    }

    .derechaPincel{
      bottom: -14rem;
    }

    .text_content_qs{
      width: 320px;
      right: 2rem;
      bottom: 17rem;
    }

    .title_qs_style{
      font-size: 2.5rem;
    }

    .info_qs{
      font-size: 1.1rem;
    }

    .text_content_qs_abajo{
      width: 320px;
      position: absolute;
      right: 3rem;
    }
  
  }

  @media screen and (min-width: 480px) {
    .pincel_Pizq{
      width: 790px;
      height: 650px;
    }
    .img_container_qs{
      left: -170px;
    }

    .derechaPincel{
      width: 700px;
    }
    /* ---------- */
    .text_content_qs{
      width: 400px;
      right: 2rem;
      bottom: 10rem;
    }

    .title_qs_style{
      font-size: 3rem;
    }

    .subtitle_qs{
      font-size: 1.8rem;
    }

    .info_qs{
      font-size: 1.3rem;
    }

    .crzn_peq{
      width: 60px;
    }

    .text_content_qs_abajo{
      width: 400px;
      position: absolute;
      right: 1rem;
      bottom: 16rem;
    }


  }

  @media screen and (min-width: 600px) {

    .imgQS{
      width: 350px;
      height: auto;
    }

    .pincel_Pizq{
      width: 880px;
      height: 700px;
    }

    .img_container_qs{
      bottom: 38rem;
    }

    .container_qs{
      height: 1400px; 
    }


    .img_qs_Der{
      width: 350px;
    }

    .imgQS_derecha{
      width: 350px;
      height: auto;
    }

    .qs_derecha{
      margin-top: 6rem;
    }

    /* ---------- */
    .text_content_qs{
      width: 450px;
      right: 2rem;
      bottom: 28rem;
    }

    .title_qs_style{
      font-size: 3rem;
    }

    .subtitle_qs{
      font-size: 1.8rem;
    }

    .info_qs{
      font-size: 1.3rem;
    }

    .crzn_peq{
      width: 70px;
    }

    .text_content_qs_abajo{
      width: 450px;
      right: 4rem;
      bottom: 28rem;
    }

  }


  
  @media screen and (min-width: 690px) {

    .pincel_Pizq{
      width: 957px;
      height: 800px;
    }
    .derechaPincel{
      width: 780px;
    }

    /* ---------- */
    .text_content_qs{
      width: 500px;
      right: 3rem;
      bottom: 27rem;
    }

    .title_qs_style{
      font-size: 3rem;
    }

    .subtitle_qs{
      font-size: 1.8rem;
    }

    .info_qs{
      font-size: 1.3rem;
    }

    .crzn_peq{
      width: 70px;
    }

    .text_content_qs_abajo{
      width: 500px;
      right: 4rem;
      bottom: 26rem;
    }

  }


  @media screen and (min-width: 768px) {

    .container_qs{
      display: flex;
      overflow: hidden;
      flex-direction: row-reverse;
      height: 800px;
    }

    /* ____________________________________ */
    

    .img_qs_Der{
      margin: 0;
    }

    .imgQS_derecha{
      width: 300px;
      margin-left: 4rem;
      margin-top: 2rem;
    }

    .reverse{
      display: flex;
      flex-direction: row;
    }

    .qs_derecha{
      position: absolute;
      z-index: -1;
      top: -5rem;
      right: -4rem;
    }

    .derechaPincel{
      width: 700px;
      height: 470px;
    }



    /* ______________________________________________ */


    .text_qs{
      width: 300px;
      height: 350px;
    }

    /* Contenedor de la imagen */
    .img_container_qs{
      width: 300px;
      bottom: 0rem;
      top: 5rem;
      left: 0;
    }


    .pincel_Pizq{
      width: 500px;
      height: 450px;
    }

     /* ---------- */
     .text_content_qs{
      width: 280px;
      left: 7.5rem;
      bottom: 23rem;
    }

    .title_qs_style{
      font-size: 2rem;
    }

    .subtitle_qs{
      font-size: 1.3rem;
    }

    .info_qs{
      font-size: 1rem;
    }

    .crzn_peq{
      width: 50px;
    }

    .text_content_qs_abajo{
      width: 280px;
      right: 7rem;
      bottom: 26rem;
    }
    

  }

  @media screen and (min-width: 810px) {
    .imgQS_derecha{
      margin-left: 6rem;
    }
  }

  @media screen and (min-width: 850px) {
    .imgQS_derecha{
      margin-left: 8rem;
    }
  }
  

  @media screen and (min-width: 900px) {

    .imgQS{
      width: 400px;
      
    }

    .pincel_Pizq{
      width: 600px;
      height: 550px;
    }

    .imgQS_derecha{
      width: 350px;
      margin-left: 8rem;
      margin-top: 2rem;
    }

    .qs_derecha{
      top: -3rem;
      right: -4rem;
    }

    .derechaPincel{
      height: 500px;
    }

    /* ---------- */
    .text_content_qs{
      width: 280px;
      left: 10rem;
      bottom: 20rem;
    }

    .title_qs_style{
      font-size: 2rem;
    }

    .subtitle_qs{
      font-size: 1.3rem;
    }

    .info_qs{
      font-size: 1rem;
    }

    .crzn_peq{
      width: 50px;
    }

    .text_content_qs_abajo{
      width: 280px;
      right: 11rem;
      bottom: 24rem;
    }


  }

  @media screen and (min-width: 1000px) {

    .container_qs{
      display: flex;
      overflow: visible;
      height: 800px;
    }

    /* IMG Principal */
    .imgQS{
      width: 400px;
      margin-left: 5rem;
    }

    /* Contenedor de la imagen */
    .img_container_qs{
      width: 300px;
      bottom: 0rem;
      top: 4rem;
      overflow: visible;
    }


    .pincel_Pizq{
      width: 650px;
      height: 550px;
    }

    .imgQS_derecha{
      width: 400px;
      
    }

    .qs_derecha{
      top: 1rem;
      right: -4rem;
    }

    /* ---------- */
    .text_content_qs{
      width: 420px;
      left: 10rem;
      bottom: 23rem;
    }

    .title_qs_style{
      font-size: 3rem;
    }

    .subtitle_qs{
      font-size: 1.3rem;
    }

    .info_qs{
      font-size: 1.2rem;
    }

    .crzn_peq{
      width: 70px;
    }

    .text_content_qs_abajo{
      width: 420px;
      right: 3rem;
      bottom: 21rem;
    }

    .reverse{
      overflow: hidden;
    }


  }


  @media screen and (min-width: 1050px) {

    .container_qs{
      display: flex;
      overflow: visible;
      height: 800px;
      max-width: 1050px;
      margin: 1rem auto;
    }

    /* IMG Principal */
    .imgQS{
      width: 400px;
    }

    /* Contenedor de la imagen */
    .img_container_qs{
      width: 300px;
      bottom: 0rem;
      top: 4rem;
      overflow: visible;
    }


    .pincel_Pizq{
      width: 650px;
      height: 550px;
    }

    .derechaPincel{
      height: 550px;
    }

    .qs_derecha{
      top: -2rem;
    }

    /* ---------- */
    .text_content_qs{
      width: 420px;
      left: 11rem;
      bottom: 21rem;
    }

    .text_content_qs_abajo{
      width: 420px;
      right: 5rem;
      bottom: 22rem;
    }

    .reverse{
      overflow: hidden;
    }

  }

  @media screen and (min-width: 1100px){
    .reverse{
      overflow: visible;
    }

  }










.colorWhie{
  color: var(--blanco);
}





  .titulos-valores{
    font-family: 'Parisienne',cursive;
    font-size: 60px;
    color: #ffffff;

  }
  .subtitulos-valores{
    font-family: 'Parisienne',cursive;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
  }
  .titulos-valores-der{
    font-family: 'Parisienne',cursive;
    font-size: 60px;
    color: #ffffff;
    text-align: right;
  }
  .line-20-der{
    height: 2px;
    background-color: var(--blanco);
    width: 40%;
    margin-bottom: 1rem;
   }

   
/* ==== Lineas ===== */
.line_title{
  border-bottom: 2px solid var(--blanco);
  width: 40%;
}

.linea_centrada{
  height: 2px;
  background-color: var(--blanco);
  width: 70%;
  text-align: center;
}

.content_valores{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.line-r{
  border-bottom: 2px solid var(--blanco);
}
.line-50{
  width: 50%;
  height: 2px;
  background-color: var(--blanco);
}
.line-70-r{
  
  height: 2px;
  background: var(--color-prinipal); /* Old browsers */
  background: -moz-linear-gradient(left,  var(--color-prinipal) 30%, #ffffff 30%);
  background: -webkit-linear-gradient(left,  var(--color-prinipal) 30%,#ffffff 30%);
  background: linear-gradient(to right,  var(--color-prinipal) 30%,#ffffff 30%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=1 );

}
.line-70{
  width: 80%;
  height: 2px;
  background-color: var(--blanco);
}
.top-10{
  margin-top: 10%;
}


  .line-20{
    height: 2px;
    background-color: var(--blanco);
    width: 40%;
    margin-bottom: 1rem;
   }
   .line-20-center{
    height: 2px;
    background-color: var(--blanco);
    width: 50%;
    margin-bottom: 1rem;
    align-self: center;
   }

   .img__Quienes{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/QuienesS2.png);
    background-size: cover;
    background-repeat: no-repeat;

  /* Texto centrado */
    display: flex;
    justify-content: center;
    align-items: center;
   }
.imagen-art{
 display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
}
.imagen-ban{
    display: block;
     margin: 0 auto;
     max-width: 100%;
     width: 100%;
   }
.text-art{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: justify;
}



  /* ============ CATALOGO ============= */
  .cat_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.cat_C{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Parisienne', cursive;
    font-size: 60px;
}
  /* ============ IMAGEN Frase CATALOGO ============= */
.imgFrase {
    width: 100%;
    height: 70vh;
    background-image: url(../img/frase2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgFrase .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.7);
}

.imgFrase .Frase {
    margin-top: 12rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    font-style: italic;
}

/* Correción de error */

.contenedor__texto{
  width: 300px;
  font-size: 2rem;
}

@media screen and (min-width: 768px){
  .contenedor__texto{
    width: 500px;
  }
}

